{% load static i18n %}
<!DOCTYPE html>

<html lang="{% get_current_language as LANGUAGE_CODE %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optical instruments</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
</head>
<body>
<!-- Navbar -->
<nav class="navbar">
    <div class="navbar-logo">
        <!-- Logo -->
        <img src="{% get_media_prefix %}img/logo_trans.png" alt="Logo">
    </div>
    <div class="navbar-links">
        <a href="/">{% trans "Home"%}</a>
        <a href="/about">{% trans "About"%}</a>
        <a href="/contact">{% trans "Contact"%}</a>
    </div>
    <div id="language-select">
        <!-- Dil seçenekleri burada olacak -->
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <label>
                <select name="language" onchange="this.form.submit()">
                    <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>{% trans "English" %}</option>
                    <option value="ru" {% if LANGUAGE_CODE == 'ru' %}selected{% endif %}>{% trans "Russian" %}</option>
                </select>
            </label>
        </form>
    </div>
</nav>

<section class="contact-us">
    <div class="container">
        <h1>{% trans "Contact Us"%}</h1>
        <div class="contact-content">
            <div class="contact-info">

                <p>Advanced Technologies LLC<br>
                    {% trans "VAT"%} 01106202410066<br>
                    {% trans "Pervomaisky district, Novosibirsky lane, No. 3"%}<br>
                    720017, {% trans "Bishkek, Kyrgyz Republic"%}<br>
                    {% trans "Director: Bakyt Beishenbekov"%}
                </p>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="footer-content">
        <p>&copy; 2024 Advanced Technologies LLC. All rights reserved.</p>
    </div>
</footer>
</body>
</html>
