{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced Technologies LLC</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
</head>
<body>
<!-- Intro ekranı -->
<div class="video-container" id="intro">
    <video autoplay muted onended="hideIntro()">
        <source src="{% get_media_prefix %}img/Clean LineStyle Logo_720p.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>

<nav class="navbar homepage">
    <div class="navbar-logo">
        <!-- Buraya logo ekleyebilirsiniz -->
        <img src="{% get_media_prefix %}img/logo_trans.png" alt="Logo">
    </div>
    <div class="navbar-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </div>
    <div id="language-select">
        <!-- Dil seçenekleri burada olacak -->
        <a href="/language/english">English</a>
        <a href="/language/russian">Russian</a>
    </div>
</nav>

<header class="intro-hidden" id="main-content">
    <!-- Ana içerik burada -->
</header>

<div class="card-container">
    <div class="card">
        <h5 class="card-title">Optical glass</h5>
        <img src="{% get_media_prefix %}img/optic glass.jpg" alt="Card 1">
        <p>Optical glass is a high-precision material used in various advanced technologies, including scientific
            instruments. It offers exceptional clarity and accuracy, essential for lenses, prisms,
            and other optical components. This glass is meticulously manufactured to ensure superior performance.</p>
        <a href="/Optical_glass" class="btn-see-more">See More</a>
    </div>
    <div class="card">
        <h5 class="card-title">Optical Instruments</h5>
        <img src="{% get_media_prefix %}img/Optical Instruments.jpg" alt="Card 2">
        <p>Optical instruments are devices designed to enhance vision or measure optical properties. They include
            telescopes, microscopes, and lasers, crucial for scientific research, navigation.
            These instruments use advanced optics to provide precise measurements and detailed imagery.
        </p>
        <a href="/Optical_Instruments" class="btn-see-more">See More</a>
    </div>
    <div class="card">
        <h5 class="card-title">Optical glass processing equipment</h5>
        <img src="{% get_media_prefix %}img/Optical glass processing equipment.jpg" alt="Card 3">
        <p>Optical glass processing equipment includes advanced machinery for shaping, grinding, and polishing optical
            glass. This equipment ensures precise fabrication of lenses and components, crucial for high-performance
            optical instruments. It combines cutting-edge technology with meticulous craftsmanship.
        </p>
        <a href="/Optical_glass_processing_equipment" class="btn-see-more">See More</a>
    </div>
</div>

<footer>
    <div class="footer-content">
        <p>&copy; 2024 Advanced Technologies LLC. All rights reserved.</p>
    </div>
</footer>

<script>
    function hideIntro() {
        document.getElementById('intro').classList.add('intro-hidden');
        document.getElementById('main-content').classList.remove('intro-hidden');
    }
</script>
</body>
</html>
